<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Let's Tech About It</title>
  </head>

  <body>
    <div class='wrapper'>
      <header>
        <h1>
          <a href='/'>Let's Tech About It</a>
        </h1>
        <nav>
          <a href='/login'>Login</a>
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        Thanks for visiting!
      </footer>
    </div>

  </body>

</html>